.VerticalSlider {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease; /* Smooth transition for background */
}

/* Dark mode styles */
.VerticalSlider.dark-mode {
    background-color: #333;
}

.Myslide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out;
}

/* Other existing styles... */

.Myslide p {
    width: 50%;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 10%;
    padding-right: 5%;
    font-size: clamp(16px, 4vw, 23px);
}

.Myslide img {
    max-width: 50%;
    width: 30%;
    object-fit: cover;
    transition: opacity 0.5s ease, transform 1s ease;
}

.slide-text {
    opacity: 1;
    width: 50%;
    transition: opacity 0.5s ease, transform 1s ease;
}

.fade-out {
    opacity: 0;
    transform: translateY(20px);
}

.fade-out2 {
    opacity: 0;
    transform: translateY(-20px);
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Media Queries */
@media (max-width: 700px) {
    .Myslide {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .Myslide img {
        width: 100%;
        object-fit: cover;
    }

    .Myslide p {
        width: 100%;
        padding: 5%;
        text-align: center;
    }
}
