.navBar {
    width: 100%;
}

/* Light Mode */
.navBar.light {
    background-color: #ececec; /* Bootstrap light bg color */
    color: #000;
}

/* Dark Mode */
.navBar.dark {
    background-color: #202020; /* Bootstrap dark bg color */
    color: #fff;
}
